footer{
    border-top: 0.1px solid $gray-color;
    padding: 45px 145px;
    //display: none;

    .containerFooter{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .containerFooterLogo{
            img{
                width: 150px;
            }

        }

        .containerTextMotivation{
            text-align: center;
            font-weight: $font-bold;
            color: $red-color;
        }

        .containerSocialLinks{
            text-align: center;
            span{
                padding-bottom: 50px;
                color: $red-color;
            }
            ul{
                display: flex;
                margin-top: 5px;
                padding-left: 0px;
                li{
                    list-style: none;
                    margin: 0px 12px;

                    a{
                        text-decoration: none;
                        img{
                            width: 35px;
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    footer{
        padding: 45px 0px;
        width: 100%;
        .containerFooter{
            flex-direction: column;
            //border: 1px solid red;
            width: 100%;

            .containerFooterLogo{
                padding: 15px 0px;
                //border: 1px solid red;
            }
            .containerTextMotivation{
                padding-bottom: 30px;
            }
            .containerSocialLinks{
                //border: 1px solid yellow;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                ul{
                    align-items: center;
                    justify-content: center;
                    //border: 1px solid blue;
                    flex-direction: row;
                    margin: 0px;
                    text-align: inherit;
                    li{
                        margin: 0px 5px;
                        //border: 1px solid red;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    
}