.containerAboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .aboutUs{
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .containerAboutText{
            width: 40%;
        }
    }
}

//esse estilo vai ser usado em outros lugares
.containerTextIndicator{
    span{
        background-color: $black-color;
        //width: 144px;
        padding: 6px 16px;
        font-size: 0.8em;
        color: $withe-color;
        font-weight: $font-regular;
        border-radius: $border-radius-section;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
    }    
}
.textTitle{
    font-weight: $font-bold;
    color: $red-color;
    font-size: 2em;
    margin: 20px 0px;
}
.textDescription{
    font-weight: $font-regular;
    color: $black-color;
    font-size: 1.2em;
}


@media (max-width: 750px) {
    .containerAboutUs{
        .aboutUs{
            flex-direction: column;
            width: 100%;
            
            .containerAboutText{
                width: 80%;
            }
            .containerAboutImage{
                margin-top: 65px;
                width: 80%;
            }
        }
}
}
