.containerNumbers{
    padding: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .numbers{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;

        .numbersSpecs{
            display: flex;
            align-items: center;
            flex-direction: column;

            .valueSpec{
                font-size: 2.5em;
                color: $red-color;
                font-weight: $font-regular;
            }

            .titleSpec{
                font-size: 1em;
                color: $gray-color;
                font-weight: $font-light;
            }
        }
    }
}