.containerNumbers{
    padding: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .numbers{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        max-width: 1440px;

        .numbersSpecs{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100px;

            .valueSpec{
                font-size: 2.5em;
                color: $red-color;
                font-weight: $font-regular;
                transition: all 0.3 ease-in-out;
            }

            .titleSpec{
                font-size: 1em;
                color: $gray-color;
                font-weight: $font-light;
            }
        }
    }
}


@media (max-width: 550px) {
    .containerNumbers{
        padding: 85px 0px;
        .numbers{
            width: 80%;
            .numbersSpecs{
                .valueSpec{
                    font-size: 2em;
                }
               

            }
        }

    }
}

@media (max-width: 750px) {
    .containerNumbers{
        padding: 125px 0px;
        .numbers{
            //width: 80%;
            .numbersSpecs{
                .valueSpec{
                    font-size: 2em;
                }
               

            }
        }

    }
}


/*

@media (min-width: 1440px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //max-width: 1440px;
    }

    .containerNumbers{
        max-width: 1440px;
        padding: 125px 0px;
        .numbers{
            //width: 80%;
            .numbersSpecs{
                .valueSpec{
                    font-size: 2em;
                }
               

            }
        }

    }
}
*/