//varibles colors
$red-color: #BF0606;
$withe-color: #F8F8F8;
$black-color: #343434;
$gray-color: #ADADAD;

//variables font
$font-styles: 'Poppins', sans-serife;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;


//varibles guide
$border-radius-button: 8px;
$border-radius-section: 18px;