.load {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  z-index: -2;
}
.load .loadBackground {
  position: absolute;
  width: 100%;
  height: 0vh;
  background-color: #F8F8F8;
  z-index: -1;
  animation: scaleBackground 10s;
}
.load .containerLoadOne {
  position: relative;
  z-index: 10;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
  width: 100vw;
}
.load .containerLoadTwo {
  position: relative;
  z-index: 12;
  display: none;
  overflow: hidden;
  height: 100vh;
  background-color: transparent;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.load .containerLoadThree {
  position: relative;
  z-index: 13;
  display: none;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.load .containerLoadFour {
  position: relative;
  z-index: 14;
  display: none;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  animation: scaleBackgoundFour 2.5s forwards;
}
.load .fontBold {
  font-weight: bold;
}
.load .textAnimation {
  font-weight: bold;
  font-size: 4em;
  color: red;
}
.load .textAnimationOne {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.3s forwards, showText 3s forwards 3s;
}
.load .textAnimationTwo {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.1s forwards, showText 3s forwards 3s;
}
.load .textAnimationThree {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.1s forwards, showText 3s forwards 3s;
}
.load .textAnimationFour {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.2s forwards;
}
.load .loadNumber {
  text-align: center;
  background-color: red;
  opacity: 0;
  color: #fff;
  padding: 2px 10px;
  margin: 0px 15px 0px 0px;
  border-radius: 18px;
  transform: translateY(100%);
  animation: upText 0.4s forwards, showText 1s forwards 1s;
}
.load .tagPiloto {
  padding-top: 60px;
}
.load .tagPiloto .piloto {
  animation: upText 0.5s forwards;
  text-align: center;
  background-color: red;
  opacity: 0;
  color: #fff;
  padding: 2px 10px;
  margin: 150px 25px 0px 0px;
  border-radius: 18px;
}

@media (max-width: 550px) {
  .load .textAnimation {
    font-size: 2.5rem;
  }
  .load .containerLoadFour .textAnimation {
    font-size: 2rem;
  }
}
@keyframes scaleBackground {
  0% {
    height: 0vh;
  }
  25% {
    height: 25vh;
  }
  50% {
    height: 50vh;
  }
  75% {
    height: 75vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes upText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showText {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serife;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  box-sizing: border-box;
}

/*
  .footer{
    display: none;
  }

  .header{
    display: none;
  }

  .main{
    display: none;
  }

*/
header {
  position: fixed;
  top: 25px;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .containerHeaderMob {
  display: none;
}
header .containerHeader {
  width: 90%;
  padding: 15px 25px;
  border-radius: 8px;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.5607843137);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
header .containerHeader nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .containerHeader nav img {
  width: 105px;
}
header .containerHeader nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
}
header .containerHeader nav ul li {
  list-style: none;
  padding: 0px 20px;
}
header .containerHeader nav ul li a {
  text-decoration: none;
  color: #343434;
  font-weight: 300;
}
header .containerHeader nav ul li .selectedHeader {
  transition: all ease-in-out 0.5s;
  color: #BF0606;
  font-weight: 700;
}

@media (max-width: 750px) {
  header {
    top: 0px;
    width: 100vw;
    z-index: 10px;
  }
  header .containerHeader {
    display: none;
  }
  header .containerHeaderMob {
    display: block;
    background-color: #F8F8F8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }
  header .containerHeaderMob .imageLogo img {
    width: 80px;
  }
  header .containerHeaderMob .menuHamburguer .menu #menuToggle {
    display: none;
  }
  header .containerHeaderMob .menuHamburguer .menu .hamburguer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
  }
  header .containerHeaderMob .menuHamburguer .menu .hamburguer span {
    width: 25px;
    height: 4px;
    background: #BF0606;
    border-radius: 2px;
    transition: 0.3s;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    position: absolute;
    top: 70px;
    right: 0px;
    max-width: 0px;
    padding: 15px 0px;
    width: 200px;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 0px 0px 0px 18px;
    transition: max-width 1s ease-in-out;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink li {
    padding: 5px 25px;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink li a {
    text-decoration: none;
    color: #343434;
    font-weight: 700;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink li :hover {
    color: #BF0606;
  }
  header .containerHeaderMob .menuHamburguer .menu .showMenu {
    max-width: 300px;
  }
}
/*
@keyframes open-menu-keyframe{
    from{
        left: -50vw;
    }
    to{
        left: 0vw;
    }
}

    header{
        position: fixed;
        top: 0px;
        background-color: $withe-color;
        width: 100vw;
        .containerHeader{
            display: none;
        }

        .containerHeaderMob{
            position: relative;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;
            .menuHamburguer{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: auto;
                .hamburguer01{
                    width: 32px;
                    height: 4px;
                    //margin-top: 5px;
                    border-radius: 19px 19px 0px 0px;
                    background-color: $red-color;
                }
                .hamburguer02{
                    width: 32px;
                    height: 4px;
                    margin-top: 5px;
                    background-color: $red-color;
                }
                .hamburguer03{
                    width: 32px;
                    height: 4px;
                    margin-top: 5px;
                    border-radius: 0px 0px 19px 19px;
                    background-color: $red-color;
                }
            }
            .openMenu{
                animation: open-menu-keyframe 2s ease-in-out;
            }
            .containerMenuMob{
                position: absolute;
                top: 60px;
                width: 50vw;
                height: 100vh;
                left: -50vw;
                padding: 15px 25px;
                background-color: $withe-color;
                ul{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            margin-bottom: 35px;
                            color: $red-color;
                            font-weight: $font-regular;
                            font-size: 1.4em;
                        }
                    }
                }
            }

            .menuLogoMob{
                margin-top: 12px;
                img{
                    width: 120px;
                }
            }
        }
    }
    */
main {
  animation: slide-in-bottom 4s forwards;
}

.containerVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.containerVideo img {
  opacity: 0;
}
.containerVideo video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
  box-shadow: inset 0 0 80px #000;
}

/*
@keyframes animationLogoBanner {
    0%{
        transform: scale(0.1);
        opacity: 0;
    }   100%{
        transform: scale(0.5);
        opacity: 1;
    }
}
@keyframes slide-in-bottom{
    0%{
        transform:translateY(1000px);
        opacity:0
    }
    100%{
        transform:translateY(0);
        opacity:1
    }
}
    */
.containerNumbers {
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerNumbers .numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  max-width: 1440px;
}
.containerNumbers .numbers .numbersSpecs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
}
.containerNumbers .numbers .numbersSpecs .valueSpec {
  font-size: 2.5em;
  color: #BF0606;
  font-weight: 400;
  transition: all 0.3 ease-in-out;
}
.containerNumbers .numbers .numbersSpecs .titleSpec {
  font-size: 1em;
  color: #ADADAD;
  font-weight: 300;
}

@media (max-width: 550px) {
  .containerNumbers {
    padding: 85px 0px;
  }
  .containerNumbers .numbers {
    width: 80%;
  }
  .containerNumbers .numbers .numbersSpecs .valueSpec {
    font-size: 2em;
  }
}
@media (max-width: 750px) {
  .containerNumbers {
    padding: 125px 0px;
  }
  .containerNumbers .numbers .numbersSpecs .valueSpec {
    font-size: 2em;
  }
}
/*

@media (min-width: 1440px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //max-width: 1440px;
    }

    .containerNumbers{
        max-width: 1440px;
        padding: 125px 0px;
        .numbers{
            //width: 80%;
            .numbersSpecs{
                .valueSpec{
                    font-size: 2em;
                }


            }
        }

    }
}
*/
.containerAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerAboutUs .aboutUs {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.containerAboutUs .aboutUs .containerAboutText {
  width: 40%;
}

.containerTextIndicator span {
  background-color: #343434;
  padding: 6px 16px;
  font-size: 0.8em;
  color: #F8F8F8;
  font-weight: 400;
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
}

.textTitle {
  font-weight: 700;
  color: #BF0606;
  font-size: 2em;
  margin: 20px 0px;
}

.textDescription {
  font-weight: 400;
  color: #343434;
  font-size: 1.2em;
}

@media (max-width: 750px) {
  .containerAboutUs .aboutUs {
    flex-direction: column;
    width: 100%;
  }
  .containerAboutUs .aboutUs .containerAboutText {
    width: 80%;
  }
  .containerAboutUs .aboutUs .containerAboutImage {
    margin-top: 65px;
    width: 80%;
  }
}
.containerServices {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.containerServices .services {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerServices .carousel {
  display: none;
}
.containerServices .containerServicesText {
  text-align: center;
  max-width: 50%;
}
.containerServices .containerServicesCards {
  margin-top: 95px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.containerServices .containerServicesCards .cardServices {
  max-width: 20%;
}
.containerServices .containerServicesCards .cardServices img {
  width: 250px;
}
.containerServices .containerServicesCards .cardServices h3 {
  margin: 20px 0px;
  color: #BF0606;
  font-weight: 700;
}
.containerServices .containerServicesCards .cardServices p {
  color: #343434;
  font-weight: 400;
}

@media (max-width: 750px) {
  .containerServices {
    margin-top: 125px;
  }
  .containerServices .containerServicesText {
    width: 80%;
    text-align: start;
    max-width: 100%;
  }
  .containerServices .containerServicesCards {
    display: none;
  }
  .containerServices .carousel {
    width: 80%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices {
    margin: 0px 0px 0px 85px;
    width: 70%;
    text-align: center;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices img {
    width: 100%;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices h3 {
    margin: 10px 0px;
  }
}
@media (max-width: 550px) {
  .containerServices {
    margin-top: 125px;
  }
  .containerServices .containerServicesText {
    width: 80%;
    text-align: start;
    max-width: 100%;
  }
  .containerServices .containerServicesCards {
    display: none;
  }
  .containerServices .carousel {
    width: 80%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices {
    margin: 0px 0px 0px 35px;
    width: 70%;
    text-align: center;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices img {
    width: 100%;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices h3 {
    margin: 10px 0px;
  }
}
.carousel-control-prev .carousel-control-prev-icon {
  color: red !important;
  background-color: red !important;
  border-radius: 18px;
  padding: 5px !important;
}

.carousel-control-next .carousel-control-next-icon {
  color: red !important;
  background-color: red !important;
  border-radius: 18px;
  padding: 5px !important;
}

.containerCategory {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 250px;
  width: 100%;
}
.containerCategory .category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}
.containerCategory .category .containerCategoryText {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerCategory .category .containerCategoryText .textDescription {
  max-width: 60%;
}
.containerCategory .category .containerCategoryApresentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 95px;
  width: 75%;
}
.containerCategory .category .containerCategoryApresentation .categoryBotton {
  display: flex;
  flex-direction: column;
}
.containerCategory .category .containerCategoryApresentation .categoryBotton .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 55px;
  margin: 25px;
  background-color: #343434;
  color: #F8F8F8;
}
.containerCategory .category .containerCategoryApresentation .categoryBotton .buttons :hover {
  cursor: pointer;
}
.containerCategory .category .containerCategoryApresentation .categoryBotton .isActive {
  transition: all 0.5s ease-in-out;
  background-color: #BF0606 !important;
}
.containerCategory .category .containerCategoryApresentation .categoryDivider {
  height: 300px;
  width: 5px;
  background-color: #df8383;
  border-radius: 18px;
}
.containerCategory .category .containerCategoryApresentation .categoryDescription {
  width: 50%;
}
.containerCategory .category .containerCategoryApresentation .categoryDescription .categoryText {
  display: none;
  max-width: 80%;
}
.containerCategory .category .containerCategoryApresentation .categoryDescription .categoryText .buttonParticipate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BF0606;
  text-decoration: none;
  width: 252px;
  height: 50px;
  padding: 0px 10px;
  margin-top: 40px;
  border-radius: 8px;
  color: #F8F8F8;
}
.containerCategory .category .containerCategoryApresentation .categoryDescription .categoryText .buttonParticipate img {
  transition: transform 0.3s ease-in-out;
}
.containerCategory .category .containerCategoryApresentation .categoryDescription .categoryText .buttonParticipate img:hover {
  transform: rotate(45deg);
}
.containerCategory .category .containerCategoryApresentation .categoryDescription .isActive {
  display: block !important;
  transition: all 2s ease-in-out;
}

@media (max-width: 750px) {
  .containerCategory {
    margin-top: 120px;
    padding-top: 0px;
  }
  .containerCategory .category .containerCategoryText {
    width: 80%;
    text-align: start;
    align-items: start;
  }
  .containerCategory .category .containerCategoryText .textDescription {
    max-width: 100%;
  }
  .containerCategory .category .containerCategoryApresentation {
    margin-top: 25px;
    flex-direction: column;
  }
  .containerCategory .category .containerCategoryApresentation .categoryBotton {
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .containerCategory .category .containerCategoryApresentation .categoryBotton .buttons {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 80px;
    font-size: 0.8em;
  }
  .containerCategory .category .containerCategoryApresentation .categoryDivider {
    margin: 35px 0px;
    width: 90%;
    height: 4px;
  }
  .containerCategory .category .containerCategoryApresentation .categoryDescription {
    width: 100%;
  }
  .containerCategory .category .containerCategoryApresentation .categoryDescription .categoryText {
    max-width: 100%;
  }
}
.containerTrack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  width: 100%;
}
.containerTrack .track {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}
.containerTrack .track .containerTrackText {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerTrack .track .containerTrackText .textDescription {
  max-width: 60%;
}
.containerTrack .track .containerTrackCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.containerTrack .track .containerTrackCards .trackCard {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 15px;
  background-color: #343434;
  border-radius: 18px;
  padding: 25px;
}
.containerTrack .track .containerTrackCards .trackCard .cardInfos {
  color: #F8F8F8;
}
.containerTrack .track .containerTrackCards .trackCard .cardInfos .btnMaps {
  text-decoration: none;
  color: #F8F8F8;
  background-color: #BF0606;
  padding: 3px 8px;
  border-radius: 8px;
  font-weight: 300;
}
.containerTrack .track .containerTrackCards .trackCard .cardInfos h3 {
  margin: 15px 0px;
}
.containerTrack .track .containerTrackCards .trackCard .cardInfos span {
  font-weight: 300;
}
.containerTrack .track .containerTrackCards .trackCard .cardInfos .btnAction {
  display: flex;
  margin-top: 10px;
}
.containerTrack .track .containerTrackCards .trackCard .cardInfos .btnAction a {
  text-decoration: none;
  color: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 4px;
  background-color: #BF0606;
  border-radius: 8px;
}

@media (max-width: 750px) {
  .containerTrack {
    margin-top: 120px;
  }
  .containerTrack .track .containerTrackText {
    width: 80%;
    text-align: start;
    align-items: start;
  }
  .containerTrack .track .containerTrackText .textDescription {
    max-width: 100%;
  }
  .containerTrack .track .containerTrackCards {
    margin-top: 20px;
  }
}
@media (max-width: 550px) {
  .containerTrack {
    margin-top: 120px;
  }
  .containerTrack .track .containerTrackCards {
    width: 80%;
  }
  .containerTrack .track .containerTrackCards .trackCard {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .containerTrack .track .containerTrackCards .trackCard .cardInfos {
    margin-top: 25px;
  }
  .containerTrack .track .containerTrackCards .trackCard .cardImage {
    width: 100%;
  }
  .containerTrack .track .containerTrackCards .trackCard .cardImage img {
    width: 100%;
  }
}
.containerDepoiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 245px;
  width: 100%;
}
.containerDepoiment .depoiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 1000%;
}
.containerDepoiment .depoiment .containerDepoimentText {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 120px;
}
.containerDepoiment .depoiment .containerDepoimentText .textTitle {
  max-width: 40%;
}
.containerDepoiment .depoiment .containerDepoimentText .textDescription {
  max-width: 40%;
}
.containerDepoiment .depoiment .containerCarrossel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment::-webkit-scrollbar {
  display: none;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment {
  width: 360px;
  height: 470px;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardImage {
  width: 100%;
  height: 100%;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8078431373);
  color: #BF0606;
  padding: 18px;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardText .textHead {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 8px 0px;
}
.containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardText .textDescription {
  text-align: center;
  font-size: 1rem;
}
.containerDepoiment .depoiment .containerCarrosselBtn {
  margin: 12px 0px;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
.containerDepoiment .depoiment .containerCarrosselBtn button {
  border: none;
  background-color: transparent;
  padding: 5px;
}
.containerDepoiment .depoiment .containerCarrosselBtn .carrosselIndicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}
.containerDepoiment .depoiment .containerCarrosselBtn .carrosselIndicator span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  transition: background 0.3s ease;
}
.containerDepoiment .depoiment .containerCarrosselBtn .carrosselIndicator span.activeIndicator {
  background: #333;
}
.containerDepoiment .depoiment .disableButtonCarrossel {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 750px) {
  .containerDepoiment {
    display: flex;
    align-items: center;
    margin-top: 120px;
    width: 100%;
  }
  .containerDepoiment .depoiment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .containerDepoiment .depoiment .containerDepoimentText {
    text-align: start;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-bottom: 100px;
    width: 80%;
  }
  .containerDepoiment .depoiment .containerDepoimentText .textTitle {
    max-width: 100%;
  }
  .containerDepoiment .depoiment .containerDepoimentText .textDescription {
    max-width: 100%;
  }
  .containerDepoiment .depoiment .containerCarrossel {
    width: 100%;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment {
    width: 360px;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment {
    width: 360px;
    height: 470px;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardImage {
    width: 100%;
    height: 100%;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8078431373);
    color: #BF0606;
    padding: 18px;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardText .textHead {
    margin: 8px 0px;
  }
  .containerDepoiment .depoiment .containerCarrossel .carrosselDepoiment .cardDepoiment .cardText .textDescription {
    font-size: 1rem;
  }
  .containerDepoiment .depoiment .containerCarrosselBtn {
    width: 60%;
  }
  .containerDepoiment .depoiment .containerCarrosselBtn button {
    border: none;
    background-color: transparent;
    padding: 5px;
  }
}
.containerContact {
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerContact .contact {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}
.containerContact .contact .containerContactText {
  width: 50%;
}
.containerContact .contact .containerContactText .buttonParticipate {
  padding: 8px 24px;
  background-color: #BF0606;
  width: 80%;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Poppins", sans-serife;
  color: #F8F8F8;
  font-weight: 700;
  font-size: 24px;
}
.containerContact .contact .containerContactImage {
  position: relative;
  margin-right: 122px;
}
.containerContact .contact .containerContactImage span {
  animation: fadeIn 4s both;
  animation-timeline: view();
  position: absolute;
  padding: 8px 44px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5607843137);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.containerContact .contact .containerContactImage .imageSpan01 {
  margin-left: -41px;
  top: -40px;
}
.containerContact .contact .containerContactImage .imageSpan02 {
  margin-left: -61px;
  top: 10px;
}
.containerContact .contact .containerContactImage .imageSpan03 {
  margin-left: -81px;
  top: 60px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 750px) {
  .containerContact {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerContact .contact {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .containerContact .contact .containerContactText {
    width: 100%;
  }
  .containerContact .contact .containerContactImage {
    margin-top: 90px;
  }
  .containerContact .contact .containerContactImage img {
    width: 90%;
  }
  .containerContact .contact .containerContactImage span {
    animation: fadeIn 4s both;
    animation-timeline: view();
    position: absolute;
    padding: 8px 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5607843137);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .containerContact .contact .containerContactImage .imageSpan01 {
    margin-left: -41px;
    top: -40px;
  }
  .containerContact .contact .containerContactImage .imageSpan02 {
    margin-left: -61px;
    top: 10px;
  }
  .containerContact .contact .containerContactImage .imageSpan03 {
    margin-left: -81px;
    top: 60px;
  }
}
@media (max-width: 550px) {
  .containerContact .contact .containerContactImage img {
    width: 230px;
  }
  .containerContact .contact .containerContactImage span {
    animation: fadeIn 4s both;
    animation-timeline: view();
    position: absolute;
    padding: 8px 14px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5607843137);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .containerContact .contact .containerContactImage .imageSpan01 {
    margin-left: -21px;
    top: -40px;
  }
  .containerContact .contact .containerContactImage .imageSpan02 {
    margin-left: -41px;
    top: 10px;
  }
  .containerContact .contact .containerContactImage .imageSpan03 {
    margin-left: -61px;
    top: 60px;
  }
}
.containerFaq {
  margin: 250px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.containerFaq .textLink {
  color: #BF0606;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  text-decoration: underline;
}
.containerFaq .containerButtonFaq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.containerFaq .containerButtonFaq button {
  background-color: #fff;
  width: 190px;
  height: 45px;
  border-radius: 18px;
  border: 1px solid #BF0606;
  font-size: 20px;
  font-weight: 400;
  color: #BF0606;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  margin: 0px 15px;
}
.containerFaq .containerButtonFaq .isActiveFaq {
  background-color: #BF0606;
  color: #F8F8F8;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
.containerFaq .containerFaqText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerFaq .containerFaqs {
  margin-top: 85px;
  width: 80%;
}
.containerFaq .containerFaqs .isActiveFaqContainer {
  display: block !important;
}
.containerFaq .containerFaqs .faqsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%;
}
.containerFaq .containerFaqs .faqsCard .cardIconCategory {
  margin: 5px 25px;
}
.containerFaq .containerFaqs .faqsCard .cardIconCategory img {
  width: 42px;
}
.containerFaq .containerFaqs .faqsCard .cardIconArrow {
  margin: 5px 25px;
}
.containerFaq .containerFaqs .faqsCard .cardIconArrow img {
  transition: transform 0.9s ease-in-out;
  transform-origin: center;
}
.containerFaq .containerFaqs .faqsCard .cardIconArrow .isArrowUp {
  transform: rotate(180deg);
}
.containerFaq .containerFaqs .faqsCard .cardTextTitle {
  width: 100%;
}
.containerFaq .containerFaqs .faqsCard .cardTextTitle .cardTextSpan {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease, padding 0.7s ease;
  padding-top: 0;
}
.containerFaq .containerFaqs .faqsCard .cardTextTitle .cardTextSpanActive {
  max-height: 500px;
  opacity: 1;
  padding-top: 10px;
}

.faqVehicle {
  display: none;
}

.faqPayment {
  display: none;
}

.faqAwards {
  display: none;
}

@media (max-width: 750px) {
  .containerFaq {
    margin: 120px 0px;
    width: 100%;
    box-sizing: border-box;
  }
  .containerFaq .containerFaqText {
    width: 80%;
    align-items: start;
  }
  .containerFaq .containerButtonFaq {
    width: 90%;
  }
  .containerFaq .containerButtonFaq button {
    margin: 10px;
    font-size: 0.8em;
  }
  .containerFaq .containerFaqs {
    width: 100%;
    padding: 0px 34px;
  }
  .containerFaq .containerFaqs .faqsCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 12px;
    border-radius: 8px;
  }
  .containerFaq .containerFaqs .faqsCard .cardTextTitle h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 550px) {
  .containerFaq .containerButtonFaq button {
    margin: 5px;
    font-size: 1em;
  }
  .containerFaq .containerFaqs .faqsCard .cardIconCategory img {
    width: 40px;
  }
  .containerFaq .containerFaqs .faqsCard .cardTextTitle h3 {
    font-size: 1em;
  }
  .containerFaq .containerFaqs .faqsCard .cardTextTitle .cardTextSpan span {
    font-size: 0.8em;
  }
  .containerFaq .containerFaqs .faqsCard .cardIconArrow img {
    width: 15px;
  }
}
.containerEvent {
  width: 100%;
  padding-top: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerEvent .event {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  text-align: center;
}
.containerEvent .event .containerEventText {
  width: 40%;
}
.containerEvent .event .containerCtaCalendario {
  color: #BF0606 !important;
}
.containerEvent .event .containerCardEvent {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.containerEvent .event .containerCardEvent .cardEvent {
  width: 323px;
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  box-sizing: border-box;
  margin: 12px 40px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextTitle {
  margin-bottom: 26px;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextTitle h3 {
  color: #BF0606;
  font-weight: 700;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextTitle span {
  color: #343434;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextInformation {
  display: flex;
  flex-direction: column;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextInformation .eventTextLocalization {
  color: #BF0606;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextInformation .eventTextTime {
  color: #343434;
  font-weight: 700;
  font-size: 1em;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextDate {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextDate .eventDay {
  color: #BF0606;
  font-size: 2em;
  font-weight: 700;
  margin-right: 12px;
}
.containerEvent .event .containerCardEvent .cardEvent .cardEventText .eventTextDate .eventMonth {
  font-size: 1.5em;
  font-weight: 300;
  color: #343434;
}

@media (max-width: 750px) {
  .containerEvent {
    padding-top: 112px;
    width: 100%;
  }
  .containerEvent .event {
    width: 80%;
  }
  .containerEvent .event .containerEventText {
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .containerEvent .event .containerCardEvent .cardEvent {
    width: 423px;
    height: 675px;
    margin: 12px 0px;
  }
  .containerEvent .event .containerCardEvent .cardEvent .eventFigure img {
    width: 423px;
  }
}
@media (max-width: 550px) {
  .containerEvent {
    padding-top: 112px;
    width: 100%;
  }
  .containerEvent .event {
    width: 80%;
  }
  .containerEvent .event .containerCardEvent {
    width: 100%;
    padding: 0px;
  }
  .containerEvent .event .containerCardEvent .cardEvent {
    width: 100%;
    height: 500px;
    margin: 12px 0px;
  }
  .containerEvent .event .containerCardEvent .cardEvent .eventFigure {
    width: 100%;
    overflow: hidden;
    border-radius: 0px 0px 8px 8px;
  }
  .containerEvent .event .containerCardEvent .cardEvent .eventFigure img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    border-radius: 0px 0px 8px 8px;
  }
}
footer {
  border-top: 0.1px solid #ADADAD;
  padding: 45px 145px;
}
footer .containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .containerFooter .containerFooterLogo img {
  width: 150px;
}
footer .containerFooter .containerTextMotivation {
  text-align: center;
  font-weight: 700;
  color: #BF0606;
}
footer .containerFooter .containerSocialLinks {
  text-align: center;
}
footer .containerFooter .containerSocialLinks span {
  padding-bottom: 50px;
  color: #BF0606;
}
footer .containerFooter .containerSocialLinks ul {
  display: flex;
  margin-top: 5px;
  padding-left: 0px;
}
footer .containerFooter .containerSocialLinks ul li {
  list-style: none;
  margin: 0px 12px;
}
footer .containerFooter .containerSocialLinks ul li a {
  text-decoration: none;
}
footer .containerFooter .containerSocialLinks ul li a img {
  width: 35px;
}

@media (max-width: 750px) {
  footer {
    padding: 45px 0px;
    width: 100%;
  }
  footer .containerFooter {
    flex-direction: column;
    width: 100%;
  }
  footer .containerFooter .containerFooterLogo {
    padding: 15px 0px;
  }
  footer .containerFooter .containerTextMotivation {
    padding-bottom: 30px;
  }
  footer .containerFooter .containerSocialLinks {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer .containerFooter .containerSocialLinks ul {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
    text-align: inherit;
  }
  footer .containerFooter .containerSocialLinks ul li {
    margin: 0px 5px;
  }
}
.events {
  max-width: 1440px;
  margin-top: 120px;
}
.events .nextEvents {
  width: 100%;
  padding-bottom: 120px;
  height: auto;
}
.events .nextEvents h2 {
  margin: 45px 0px;
  font-size: 2em;
}

.containerCardEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 31px;
}
.containerCardEvent .cardEvent {
  width: 323px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  box-sizing: border-box;
  margin: 12px 10px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.containerCardEvent .cardEvent .cardEventText {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}
.containerCardEvent .cardEvent .cardEventText .eventTextTitle {
  margin-bottom: 26px;
}
.containerCardEvent .cardEvent .cardEventText .eventTextTitle h3 {
  color: #BF0606;
  font-weight: 700;
}
.containerCardEvent .cardEvent .cardEventText .eventTextTitle span {
  color: #343434;
}
.containerCardEvent .cardEvent .cardEventText .eventTextInformation {
  display: flex;
  flex-direction: column;
}
.containerCardEvent .cardEvent .cardEventText .eventTextInformation .eventTextLocalization {
  color: #BF0606;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.containerCardEvent .cardEvent .cardEventText .eventTextInformation .eventTextTime {
  color: #343434;
  font-weight: 700;
  font-size: 1em;
}
.containerCardEvent .cardEvent .cardEventText .eventTextDate {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.containerCardEvent .cardEvent .cardEventText .eventTextDate .eventDay {
  color: #BF0606;
  font-size: 2em;
  font-weight: 700;
  margin-right: 12px;
}
.containerCardEvent .cardEvent .cardEventText .eventTextDate .eventMonth {
  font-size: 1.5em;
  font-weight: 300;
  color: #343434;
}
.containerCardEvent .cardEventClose {
  width: 323px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  box-sizing: border-box;
  margin: 12px 10px;
  border-radius: 8px;
  background-color: #343434;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.containerCardEvent .cardEventClose .cardEventText {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextTitle {
  margin-bottom: 26px;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextTitle h3 {
  font-weight: 700;
  color: #acacac;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextTitle span {
  color: #acacac;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextInformation {
  display: flex;
  flex-direction: column;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextInformation .eventTextLocalization {
  color: #acacac;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextInformation .eventTextTime {
  color: #acacac;
  font-weight: 700;
  font-size: 1em;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextDate {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextDate .eventDay {
  color: #acacac;
  font-size: 2em;
  font-weight: 700;
  margin-right: 12px;
}
.containerCardEvent .cardEventClose .cardEventText .eventTextDate .eventMonth {
  font-size: 1.5em;
  font-weight: 300;
  color: #acacac;
}
.containerCardEvent .cardEventClose .eventFigure img {
  opacity: 0.5;
}

@media (max-width: 750px) {
  .events {
    width: 100%;
  }
  .events .nextEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .events .nextEvents h2 {
    margin: 45px 0px;
    font-size: 2em;
    width: 80%;
  }
  .events .containerCardEvent {
    width: 100%;
    box-sizing: border-box;
  }
  .events .containerCardEvent .cardEventClose {
    width: 100%;
    height: 645px;
    margin: 10px 0px;
  }
  .events .containerCardEvent .cardEventClose .eventFigure {
    width: 100%;
  }
  .events .containerCardEvent .cardEventClose .eventFigure img {
    width: 100%;
  }
  .events .containerCardEvent .cardEvent {
    width: 100%;
    height: 645px;
    margin: 12px 0px;
  }
  .events .containerCardEvent .cardEvent .eventFigure {
    width: 100%;
  }
  .events .containerCardEvent .cardEvent .eventFigure img {
    width: 100%;
  }
  .events .disclaimerEvents {
    width: 80%;
    color: #BF0606;
    padding-top: 30px;
  }
}
.allEventsList {
  max-width: 1440px;
  margin-bottom: 120px;
}
.allEventsList h2 {
  width: 100%;
  margin: 45px 0px;
  font-size: 2em;
}

@media (max-width: 750px) {
  .allEventsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .allEventsList h2 {
    margin: 45px 0px;
    font-size: 2em;
    width: 80%;
  }
  .allEventsList .containerCardEvent {
    width: 100%;
    box-sizing: border-box;
  }
  .allEventsList .containerCardEvent .cardEventClose {
    width: 100%;
    height: 645px;
    margin: 10px 0px;
  }
  .allEventsList .containerCardEvent .cardEventClose .eventFigure {
    width: 100%;
  }
  .allEventsList .containerCardEvent .cardEventClose .eventFigure img {
    width: 100%;
  }
  .allEventsList .containerCardEvent .cardEvent {
    width: 100%;
    height: 645px;
    margin: 10px 0px;
  }
  .allEventsList .containerCardEvent .cardEvent .eventFigure {
    width: 100%;
  }
  .allEventsList .containerCardEvent .cardEvent .eventFigure img {
    width: 100%;
  }
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannerCalender {
  border: 1px solid red;
}/*# sourceMappingURL=style.css.map */