.load {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
}
.load .containerLoadOne {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 0vh;
  background-color: #fff;
  width: 100vw;
  animation: scaleBackgoundOne 3s forwards;
}
.load .containerLoadTwo {
  display: none;
  overflow: hidden;
  height: 25vh;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: scaleBackgoundTwo 3s forwards;
}
.load .containerLoadThree {
  display: none;
  height: 50vh;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: scaleBackgoundThree 3s forwards;
}
.load .containerLoadFour {
  display: none;
  height: 75vh;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  animation: scaleBackgoundFour 2.5s forwards;
}
.load .fontBold {
  font-weight: bold;
}
.load .textAnimation {
  font-weight: bold;
  font-size: 4em;
  color: red;
}
.load .textAnimationOne {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.2s forwards, showText 2s forwards 2s;
}
.load .textAnimationTwo {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.2s forwards, showText 2s forwards 2s;
}
.load .textAnimationThree {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.2s forwards, showText 2s forwards 2s;
}
.load .textAnimationFour {
  opacity: 0;
  transform: translateY(100%);
  animation: upText 0.2s forwards;
}
.load .loadNumber {
  text-align: center;
  background-color: red;
  opacity: 0;
  color: #fff;
  padding: 2px 10px;
  margin: 0px 15px 0px 0px;
  border-radius: 18px;
  transform: translateY(100%);
  animation: upText 0.4s forwards, showText 1s forwards 1s;
}
.load .tagPiloto {
  padding-top: 60px;
}
.load .tagPiloto .piloto {
  animation: upText 0.5s forwards;
  text-align: center;
  background-color: red;
  opacity: 0;
  color: #fff;
  padding: 2px 10px;
  margin: 150px 25px 0px 0px;
  border-radius: 18px;
}

@media (max-width: 550px) {
  .load .textAnimation {
    font-size: 2.5rem;
  }
  .load .containerLoadFour .textAnimation {
    font-size: 2rem;
  }
}
@keyframes scaleBackgoundOne {
  to {
    height: 25vh;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes scaleBackgoundTwo {
  to {
    height: 50vh;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes scaleBackgoundThree {
  to {
    height: 75vh;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes scaleBackgoundFour {
  to {
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes upText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showText {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serife;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 25px;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .containerHeaderMob {
  display: none;
}
header .containerHeader {
  width: 90%;
  padding: 15px 25px;
  border-radius: 8px;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.5607843137);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
header .containerHeader nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .containerHeader nav img {
  width: 105px;
}
header .containerHeader nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 0px;
  margin: 0px;
}
header .containerHeader nav ul li {
  list-style: none;
  padding: 0px 20px;
}
header .containerHeader nav ul li a {
  text-decoration: none;
  color: #343434;
  font-weight: 300;
}
header .containerHeader nav ul li .selectedHeader {
  transition: all ease-in-out 0.5s;
  color: #BF0606;
  font-weight: 700;
}

@media (max-width: 750px) {
  header {
    top: 0px;
    width: 100vw;
    z-index: 10px;
  }
  header .containerHeader {
    display: none;
  }
  header .containerHeaderMob {
    display: block;
    background-color: #F8F8F8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }
  header .containerHeaderMob .imageLogo img {
    width: 80px;
  }
  header .containerHeaderMob .menuHamburguer .menu #menuToggle {
    display: none;
  }
  header .containerHeaderMob .menuHamburguer .menu .hamburguer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
  }
  header .containerHeaderMob .menuHamburguer .menu .hamburguer span {
    width: 25px;
    height: 4px;
    background: #BF0606;
    border-radius: 2px;
    transition: 0.3s;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    position: absolute;
    top: 70px;
    right: 0px;
    max-width: 0px;
    padding: 15px 0px;
    width: 200px;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 0px 0px 0px 18px;
    transition: max-width 1s ease-in-out;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink li {
    padding: 5px 25px;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink li a {
    text-decoration: none;
    color: #343434;
    font-weight: 700;
  }
  header .containerHeaderMob .menuHamburguer .menu .navigationLink li :hover {
    color: #BF0606;
  }
  header .containerHeaderMob .menuHamburguer .menu .showMenu {
    max-width: 300px;
  }
}
/*
@keyframes open-menu-keyframe{
    from{
        left: -50vw;
    }
    to{
        left: 0vw;
    }
}

    header{
        position: fixed;
        top: 0px;
        background-color: $withe-color;
        width: 100vw;
        .containerHeader{
            display: none;
        }

        .containerHeaderMob{
            position: relative;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;
            .menuHamburguer{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: auto;
                .hamburguer01{
                    width: 32px;
                    height: 4px;
                    //margin-top: 5px;
                    border-radius: 19px 19px 0px 0px;
                    background-color: $red-color;
                }
                .hamburguer02{
                    width: 32px;
                    height: 4px;
                    margin-top: 5px;
                    background-color: $red-color;
                }
                .hamburguer03{
                    width: 32px;
                    height: 4px;
                    margin-top: 5px;
                    border-radius: 0px 0px 19px 19px;
                    background-color: $red-color;
                }
            }
            .openMenu{
                animation: open-menu-keyframe 2s ease-in-out;
            }
            .containerMenuMob{
                position: absolute;
                top: 60px;
                width: 50vw;
                height: 100vh;
                left: -50vw;
                padding: 15px 25px;
                background-color: $withe-color;
                ul{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            margin-bottom: 35px;
                            color: $red-color;
                            font-weight: $font-regular;
                            font-size: 1.4em;
                        }
                    }
                }
            }

            .menuLogoMob{
                margin-top: 12px;
                img{
                    width: 120px;
                }
            }
        }
    }
    */
main {
  animation: slide-in-bottom 4s forwards;
}

.containerVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.containerVideo img {
  opacity: 0;
}
.containerVideo video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
  box-shadow: inset 0 0 80px #000;
}

/*
@keyframes animationLogoBanner {
    0%{
        transform: scale(0.1);
        opacity: 0;
    }   100%{
        transform: scale(0.5);
        opacity: 1;
    }
}
@keyframes slide-in-bottom{
    0%{
        transform:translateY(1000px);
        opacity:0
    }
    100%{
        transform:translateY(0);
        opacity:1
    }
}
    */
.containerNumbers {
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerNumbers .numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.containerNumbers .numbers .numbersSpecs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
}
.containerNumbers .numbers .numbersSpecs .valueSpec {
  font-size: 2.5em;
  color: #BF0606;
  font-weight: 400;
  transition: all 0.3 ease-in-out;
}
.containerNumbers .numbers .numbersSpecs .titleSpec {
  font-size: 1em;
  color: #ADADAD;
  font-weight: 300;
}

@media (max-width: 550px) {
  .containerNumbers {
    padding: 85px 0px;
  }
  .containerNumbers .numbers {
    width: 80%;
  }
  .containerNumbers .numbers .numbersSpecs .valueSpec {
    font-size: 2em;
  }
}
@media (max-width: 750px) {
  .containerNumbers {
    padding: 125px 0px;
  }
  .containerNumbers .numbers .numbersSpecs .valueSpec {
    font-size: 2em;
  }
}
/*

@media (min-width: 1440px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //max-width: 1440px;
    }

    .containerNumbers{
        max-width: 1440px;
        padding: 125px 0px;
        .numbers{
            //width: 80%;
            .numbersSpecs{
                .valueSpec{
                    font-size: 2em;
                }


            }
        }

    }
}
*/
.containerAboutUs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerAboutUs .containerAboutText {
  width: 40%;
}

.containerTextIndicator span {
  background-color: #343434;
  padding: 6px 16px;
  font-size: 0.8em;
  color: #F8F8F8;
  font-weight: 400;
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.151);
}

.textTitle {
  font-weight: 700;
  color: #BF0606;
  font-size: 2em;
  margin: 20px 0px;
}

.textDescription {
  font-weight: 400;
  color: #343434;
  font-size: 1.2em;
}

@media (max-width: 750px) {
  .containerAboutUs {
    display: flex;
    flex-direction: column;
  }
  .containerAboutUs .containerAboutText {
    width: 80%;
  }
  .containerAboutUs .containerAboutImage {
    margin-top: 65px;
    width: 80%;
  }
}
.containerServices {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerServices .carousel {
  display: none;
}
.containerServices .containerServicesText {
  text-align: center;
  max-width: 50%;
}
.containerServices .containerServicesCards {
  margin-top: 95px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.containerServices .containerServicesCards .cardServices img {
  width: 250px;
}
.containerServices .containerServicesCards .cardServices h3 {
  margin: 20px 0px;
  color: #BF0606;
  font-weight: 700;
}
.containerServices .containerServicesCards .cardServices p {
  color: #343434;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .containerServices .containerServicesCards .cardServices {
    width: 30%;
  }
  .containerServices .containerServicesCards .cardServices img {
    width: 130px;
  }
  .containerServices .carousel {
    display: none;
  }
}
@media (max-width: 750px) {
  .containerServices {
    margin-top: 125px;
  }
  .containerServices .containerServicesText {
    width: 80%;
    text-align: start;
    max-width: 100%;
  }
  .containerServices .containerServicesCards {
    display: none;
  }
  .containerServices .carousel {
    width: 80%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices {
    margin: 0px 0px 0px 85px;
    width: 70%;
    text-align: center;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices img {
    width: 100%;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices h3 {
    margin: 10px 0px;
  }
}
@media (max-width: 550px) {
  .containerServices {
    margin-top: 125px;
  }
  .containerServices .containerServicesText {
    width: 80%;
    text-align: start;
    max-width: 100%;
  }
  .containerServices .containerServicesCards {
    display: none;
  }
  .containerServices .carousel {
    width: 80%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices {
    margin: 0px 0px 0px 35px;
    width: 70%;
    text-align: center;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices img {
    width: 100%;
  }
  .containerServices .carousel .carousel-inner .carousel-item .cardServices h3 {
    margin: 10px 0px;
  }
}
.carousel-control-prev .carousel-control-prev-icon {
  color: red !important;
  background-color: red !important;
  border-radius: 18px;
  padding: 5px !important;
}

.carousel-control-next .carousel-control-next-icon {
  color: red !important;
  background-color: red !important;
  border-radius: 18px;
  padding: 5px !important;
}

.containerCategory {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 250px;
}
.containerCategory .containerCategoryText {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerCategory .containerCategoryText .textDescription {
  max-width: 60%;
}
.containerCategory .containerCategoryApresentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 95px;
  width: 75%;
}
.containerCategory .containerCategoryApresentation .categoryBotton {
  display: flex;
  flex-direction: column;
}
.containerCategory .containerCategoryApresentation .categoryBotton .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 55px;
  margin: 25px;
  background-color: #343434;
  color: #F8F8F8;
}
.containerCategory .containerCategoryApresentation .categoryBotton .buttons :hover {
  cursor: pointer;
}
.containerCategory .containerCategoryApresentation .categoryBotton .isActive {
  transition: all 0.5s ease-in-out;
  background-color: #BF0606 !important;
}
.containerCategory .containerCategoryApresentation .categoryDivider {
  height: 300px;
  width: 5px;
  background-color: #df8383;
  border-radius: 18px;
}
.containerCategory .containerCategoryApresentation .categoryDescription {
  width: 50%;
}
.containerCategory .containerCategoryApresentation .categoryDescription .categoryText {
  display: none;
  max-width: 80%;
}
.containerCategory .containerCategoryApresentation .categoryDescription .categoryText .buttonParticipate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BF0606;
  text-decoration: none;
  width: 252px;
  height: 50px;
  padding: 0px 10px;
  margin-top: 40px;
  border-radius: 8px;
  color: #F8F8F8;
}
.containerCategory .containerCategoryApresentation .categoryDescription .categoryText .buttonParticipate img {
  transition: transform 0.3s ease-in-out;
}
.containerCategory .containerCategoryApresentation .categoryDescription .categoryText .buttonParticipate img:hover {
  transform: rotate(45deg);
}
.containerCategory .containerCategoryApresentation .categoryDescription .isActive {
  display: block !important;
  transition: all 2s ease-in-out;
}

@media (max-width: 750px) {
  .containerCategory {
    margin-top: 120px;
    padding-top: 0px;
  }
  .containerCategory .containerCategoryText {
    width: 80%;
    text-align: start;
    align-items: start;
  }
  .containerCategory .containerCategoryText .textDescription {
    max-width: 100%;
  }
  .containerCategory .containerCategoryApresentation {
    margin-top: 25px;
    flex-direction: column;
  }
  .containerCategory .containerCategoryApresentation .categoryBotton {
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .containerCategory .containerCategoryApresentation .categoryBotton .buttons {
    margin: 10px;
  }
  .containerCategory .containerCategoryApresentation .categoryDivider {
    margin: 35px 0px;
    width: 90%;
    height: 4px;
  }
  .containerCategory .containerCategoryApresentation .categoryDescription {
    width: 100%;
  }
}
.containerTrack {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 250px;
}
.containerTrack .containerTrackText {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containerTrack .containerTrackText .textDescription {
  max-width: 60%;
}
.containerTrack .containerTrackCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.containerTrack .containerTrackCards .trackCard {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 15px 15px;
  background-color: #343434;
  border-radius: 18px;
  padding: 25px;
}
.containerTrack .containerTrackCards .trackCard .cardInfos {
  color: #F8F8F8;
}
.containerTrack .containerTrackCards .trackCard .cardInfos .btnMaps {
  text-decoration: none;
  color: #F8F8F8;
  background-color: #BF0606;
  padding: 3px 8px;
  border-radius: 8px;
  font-weight: 300;
}
.containerTrack .containerTrackCards .trackCard .cardInfos h3 {
  margin: 15px 0px;
}
.containerTrack .containerTrackCards .trackCard .cardInfos span {
  font-weight: 300;
}
.containerTrack .containerTrackCards .trackCard .cardInfos .btnAction {
  display: flex;
  margin-top: 10px;
}
.containerTrack .containerTrackCards .trackCard .cardInfos .btnAction a {
  text-decoration: none;
  color: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 4px;
  background-color: #BF0606;
  border-radius: 8px;
}

.containerDepoiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 245px;
}
.containerDepoiment .containerDepoimentText {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containerDepoiment .containerDepoimentText .textTitle {
  max-width: 40%;
}
.containerDepoiment .containerDepoimentText .textDescription {
  max-width: 40%;
}
.containerDepoiment .containerUserDepoiment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 115px;
  width: 80%;
}
.containerDepoiment .containerUserDepoiment .depoimentCard {
  position: relative;
  margin: 0px 15px;
}
.containerDepoiment .containerUserDepoiment .depoimentCard .cardText {
  background-color: rgba(255, 255, 255, 0.8705882353);
  height: 40%;
  width: 100%;
  padding: 15px;
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 1;
}
.containerDepoiment .containerUserDepoiment .depoimentCard .cardText .textApresentation {
  color: #BF0606;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.containerDepoiment .containerUserDepoiment .depoimentCard .cardText .textApresentation .textApresentationName {
  font-weight: 700;
}
.containerDepoiment .containerArrowCarrossel {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.containerDepoiment .containerArrowCarrossel .indicatorCarrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;
}
.containerDepoiment .containerArrowCarrossel .indicatorCarrossel .indicator {
  height: 8px;
  width: 8px;
  margin: 2px;
  border-radius: 8px;
  background-color: #343434;
}
.containerDepoiment .containerArrowCarrossel .indicatorCarrossel .indicatorActive {
  height: 8px;
  width: 13px;
  background-color: #BF0606;
}

/* 

.containerDepoimentUser{
        margin-top: 100px;
        //position: relative;
}

    	.containerCarrosselPersona{
            width: 100%;
            overflow: hidden;
            position: relative;
            .carrosselPersona{
                display: flex;
                align-items: end;
                justify-content: center;
                transition: transform 0.5s ease;
                width: max-content;
                //transform: translateX(550px);
                img{
                    height: 430px;
                    flex-shrink: 0;
                }
                .activeCardPersona{
                    height: 470px!important;
                }
            }
        .containerArrowCarrossel{
            position: absolute;
            z-index: 1;
            top: 250px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            padding: 0px 265px;

        }

        }

        .indicatorCarrossel{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 35px 0px;

            .indicator{
                height: 8px;
                width: 8px;
                margin: 2px;
                border-radius: 8px;
                background-color: $black-color;
            }

            .indicatorActive{
                height: 8px;
                width: 13px;
                background-color: $red-color;
            }
        }
*/
.containerContact {
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerContact .contact {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}
.containerContact .contact .containerContactText {
  width: 50%;
}
.containerContact .contact .containerContactText .buttonParticipate {
  padding: 8px 24px;
  background-color: #BF0606;
  width: 80%;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Poppins", sans-serife;
  color: #F8F8F8;
  font-weight: 700;
  font-size: 24px;
}
.containerContact .contact .containerContactImage {
  position: relative;
  margin-right: 122px;
}
.containerContact .contact .containerContactImage span {
  animation: fadeIn 4s both;
  animation-timeline: view();
  position: absolute;
  padding: 8px 44px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5607843137);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.containerContact .contact .containerContactImage .imageSpan01 {
  margin-left: -41px;
  top: -40px;
}
.containerContact .contact .containerContactImage .imageSpan02 {
  margin-left: -61px;
  top: 10px;
}
.containerContact .contact .containerContactImage .imageSpan03 {
  margin-left: -81px;
  top: 60px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.containerFaq {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containerFaq .textLink {
  color: #BF0606;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  text-decoration: underline;
}
.containerFaq .containerButtonFaq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 35%;
}
.containerFaq .containerButtonFaq button {
  background-color: #fff;
  width: 190px;
  height: 45px;
  border-radius: 18px;
  border: 1px solid #BF0606;
  font-size: 20px;
  font-weight: 400;
  color: #BF0606;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.containerFaq .containerButtonFaq .isActiveFaq {
  background-color: #BF0606;
  color: #F8F8F8;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
.containerFaq .containerFaqText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerFaq .containerFaqs {
  margin-top: 85px;
  width: 80%;
}
.containerFaq .containerFaqs .isActiveFaqContainer {
  display: block !important;
}
.containerFaq .containerFaqs .faqsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%;
}
.containerFaq .containerFaqs .faqsCard .cardIconCategory {
  margin: 5px 25px;
}
.containerFaq .containerFaqs .faqsCard .cardIconCategory img {
  width: 42px;
}
.containerFaq .containerFaqs .faqsCard .cardIconArrow {
  margin: 5px 25px;
}
.containerFaq .containerFaqs .faqsCard .cardIconArrow img {
  transition: transform 0.9s ease-in-out;
  transform-origin: center;
}
.containerFaq .containerFaqs .faqsCard .cardIconArrow .isArrowUp {
  transform: rotate(180deg);
}
.containerFaq .containerFaqs .faqsCard .cardTextTitle {
  width: 100%;
}
.containerFaq .containerFaqs .faqsCard .cardTextTitle .cardTextSpan {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.9s ease, padding 0.7s ease;
  padding-top: 0;
}
.containerFaq .containerFaqs .faqsCard .cardTextTitle .cardTextSpanActive {
  max-height: 500px;
  opacity: 1;
  padding-top: 10px;
}

.faqVehicle {
  display: none;
}

.faqPayment {
  display: none;
}

.faqAwards {
  display: none;
}

.containerEvent {
  padding-top: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.containerEvent .containerCtaCalendario {
  width: 55%;
  margin-top: 95px;
  margin-bottom: 20px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.containerEvent .containerCtaCalendario a {
  color: #BF0606;
}
.containerEvent .containerCardEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerEvent .containerCardEvent .cardEvent {
  width: 323px;
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  box-sizing: border-box;
  margin: 12px 40px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextTitle {
  margin-bottom: 26px;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextTitle h3 {
  color: #BF0606;
  font-weight: 700;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextTitle span {
  color: #343434;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextInformation {
  display: flex;
  flex-direction: column;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextInformation .eventTextLocalization {
  color: #BF0606;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextInformation .eventTextTime {
  color: #343434;
  font-weight: 700;
  font-size: 1em;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextDate {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextDate .eventDay {
  color: #BF0606;
  font-size: 2em;
  font-weight: 700;
  margin-right: 12px;
}
.containerEvent .containerCardEvent .cardEvent .cardEventText .eventTextDate .eventMonth {
  font-size: 1.5em;
  font-weight: 300;
  color: #343434;
}

footer {
  border-top: 0.1px solid #ADADAD;
  padding: 45px 145px;
}
footer .containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .containerFooter .containerFooterLogo img {
  width: 150px;
}
footer .containerFooter .containerTextMotivation {
  text-align: center;
  font-weight: 700;
  color: #BF0606;
}
footer .containerFooter .containerSocialLinks {
  text-align: center;
}
footer .containerFooter .containerSocialLinks span {
  padding-bottom: 50px;
  color: #BF0606;
}
footer .containerFooter .containerSocialLinks ul {
  display: flex;
  margin-top: 5px;
}
footer .containerFooter .containerSocialLinks ul li {
  list-style: none;
  margin: 0px 12px;
}
footer .containerFooter .containerSocialLinks ul li a {
  text-decoration: none;
}
footer .containerFooter .containerSocialLinks ul li a img {
  width: 35px;
}/*# sourceMappingURL=style.css.map */