.containerDepoiment{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 245px;
    .containerDepoimentText{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .textTitle{
            max-width: 40%;
        }
        .textDescription{
            max-width: 40%;
        }
    }

    .containerUserDepoiment{
        display: flex;
        margin-top: 115px;
        overflow-x: hidden;
        width: 80%;
        
        .depoimentCard{
            position: relative;

            .cardText{
                background-color: #ffffffde;
                height: 40%;
                width: 100%;
                padding: 15px;
                bottom: 0px;
                
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                
                opacity: 1;

                .textApresentation{
                    color: $red-color;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-bottom: 10px;

                    .textApresentationName{
                        font-weight: $font-bold;
                    }
                }
            }
        }
    }

    .containerArrowCarrossel{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    .indicatorCarrossel{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 35px 0px;
            
        .indicator{
            height: 8px;
            width: 8px;
            margin: 2px;
            border-radius: 8px;
            background-color: $black-color;
        }
            
        .indicatorActive{
            height: 8px;
            width: 13px;
            background-color: $red-color;
        }
    }
    
}

}