.containerDepoiment{
    display: flex;
    flex-direction: column;
    margin-top: 250px;

    .depoimentText{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0px 135px;
        
        .containerDepoimentText{
            display: flex;
            flex-direction: column;
            width: 50%;
            .textTitle{
                max-width: 50%;
            }
            .textDescription{
                max-width: 50%;
            }
        }

        .containerDepoimentUser{
            margin-bottom: 185px;

            .depoimentUsers{
                display: flex;
                align-items: center;
                justify-content: center;

                .usersInfos{
                    opacity: 0;
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $withe-color;
                    padding: 25px 32px;
                    max-width: 60%;
                    border-radius: $border-radius-section;
                    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


                    .userInfosHeader{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        
                        .userName{
                            font-weight: $font-bold;
                            font-size: 20px;
                        }
                        .userAge{
                            font-weight: $font-light;
                            font-size: 16px;
                        }
                    }

                }
                .infoActive{
                    display: block!important;
                    opacity: 0;
                     animation: fadeIn 0.9s ease-in-out forwards;
                }

                .userInfosText{
                    font-weight: $font-light;
                    font-size: 16px;
                }
            }
        }
    }
    
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}