@import '../variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-styles;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  box-sizing: border-box;
  //border: 1px solid red;
}

//Necessario colocar com display no para ativar a animacao de abertura da pagina

.footer{
  display: none;
}

.header{
  display: none;
}

.main{
  display: none;
}