.load {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;

  .containerLoadOne {
    //text-align: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 0vh;
    background-color: #fff;
    width: 100%;
    animation: scaleBackgoundOne 3s forwards;
  }
  .containerLoadTwo {
    display: none;
    overflow: hidden;
    height: 25vh;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: scaleBackgoundTwo 3s forwards;
  }
  .containerLoadThree {
    display: none;
    height: 50vh;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: scaleBackgoundThree 3s forwards;
  }
  .containerLoadFour {
    display: none;
    height: 75vh;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    animation: scaleBackgoundFour 2.5s forwards;
  }
  .fontBold {
    font-weight: bold;
  }

  .textAnimation {
    font-weight: bold;
    font-size: 4em;
    color: red;
  }

  .textAnimationOne {
    opacity: 0;
    transform: translateY(100%);
    animation: upText 0.2s forwards , showText 2s forwards;
  }

  .textAnimationTwo {
    opacity: 0;
    transform: translateY(100%);
    animation: upText 0.2s forwards, showText 2s forwards;
  }

  .textAnimationThree {
    opacity: 0;
    transform: translateY(100%);
    animation: upText 0.2s forwards, showText 2s forwards;
  }

  .textAnimationFour {
    opacity: 0;
    transform: translateY(100%);
    animation: upText 0.2s forwards;
  }

  .loadNumber {
    text-align: center;
    background-color: red;
    opacity: 0;
    color: #fff;
    padding: 2px 10px;
    margin: 0px 15px 0px 0px;
    border-radius: 18px;
    transform: translateY(100%);
    animation: upText 0.4s forwards, showText 1s forwards 1s;
  }

  .tagPiloto {
    //position: relative;
    padding-top: 60px;
    .piloto {
      //top: 10px;
      //left: -75px;
      //position: absolute;
      animation: upText 0.5s forwards;
      text-align: center;
      background-color: red;
      opacity: 0;
      color: #fff;
      padding: 2px 10px;
      margin: 150px 25px 0px 0px;
      border-radius: 18px;
    }
  }
}


@media (max-width: 550px) {
  .load{
    .textAnimation{
      font-size: 2.5rem;
    }
    .containerLoadFour{
      //padding: 0px 85px;
      .textAnimation{
        font-size: 2rem;
      }
    }
  }
}

@keyframes scaleBackgoundOne {
  to {
    height: 25vh;
    display: none;
  }
}

@keyframes scaleBackgoundTwo {
  to {
    height: 50vh;
    display: none;
  }
}
@keyframes scaleBackgoundThree {
  to {
    height: 75vh;
    display: none;
  }
}

@keyframes scaleBackgoundFour {
  to {
    height: 100vh;
  }
}

@keyframes upText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showText {
  to {
    opacity: 0;
    //transform: translateY(-100%);
    visibility: hidden;
  }
}
