.containerEvent{
    padding-top: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .containerCtaCalendario{
        //border: 1px solid red;
        width: 55%;
        margin-top: 95px;
        margin-bottom: 20px;
        display: flex;
        align-items: end;
        justify-content: end;

        a{
            color: $red-color;
        }
    }

    .containerCardEvent{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .cardEvent{
            width: 323px;
            height: 576px;
            //border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            text-align: start;
            box-sizing: border-box;
            margin: 12px 40px;
            border-radius: 8px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

            .cardEventText{
                display: flex;
                flex-direction: column;
                padding: 32px;
                //border: 1px solid red;
                width: 100%;

                .eventTextTitle{
                    //border: 1px solid blue;
                    margin-bottom: 26px;
                    h3{
                        color: $red-color;
                        font-weight: $font-bold;
                    }
                    span{
                        color: $black-color;
                    }
                }

                .eventTextInformation{
                    display: flex;
                    flex-direction: column;
                    .eventTextLocalization{
                        color: $red-color;
                        font-weight: $font-light;
                        font-size: 0.8em;
                        margin-bottom: 10px;
                    }
                    .eventTextTime{
                        color: $black-color;
                        font-weight: $font-bold;
                        font-size: 1em;
                    }
                }

                .eventTextDate{
                    margin-top: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    .eventDay{
                        color: $red-color;
                        font-size: 2em;
                        font-weight: $font-bold;
                        margin-right: 12px;
                    }
                    .eventMonth{
                        font-size: 1.5em;
                        font-weight: $font-light;
                        color: $black-color;
                    }
                }
            }
        }
    }

}