.containerEvent{
    margin-top: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .containerDate{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        .months{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;

            .month{
                font-size: 1.8em;
                font-weight: $font-light;
                color: $gray-color;
                cursor: pointer;
                transition: all 0.3s ease-in;
            }

            .month:hover{
                font-weight: $font-bold;
            
            }

            .monthSelect{
                color: $red-color;
                font-weight: $font-bold;
            }
        }
    }

    .containerEventByMonth{
        width: 80%;
        margin-top: 20px;
        .envetList{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, auto));
            gap: 18px;
            justify-content: center;
            
            //display: flex;
            //flex-direction: row;
            //list-style: none;
            //align-items: center;
            //justify-content: flex-start;
            //flex-wrap: wrap;
            //gap: 36px;
            
            .eventCard{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin: 5px;
                padding: 15px 22px;
                min-width: 280px;
                min-height: 200px;    
                
                border-radius: $border-radius-button;

                color: $withe-color;
                background-color: $black-color;

                .titleEvent{
                    margin-bottom: 8px;
                    h3{
                        font-weight: $font-bold;
                    }
                }
                .dateEvent{
                    span{
                        font-size: $font-light;
                    }
                }
                .localizationEvent{
                    .btnAction{
                        display: flex;
                        margin-top: 22px;
                        a{
                            text-decoration: none;
                            color: $withe-color;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            width: 200px;
                            padding: 4px;
                            background-color: $red-color;
                            border-radius: $border-radius-button;
                            
                            
                        }
                    }
                }
            }
        }

    }

}