.containerEvent{
    width: 100%;
    padding-top: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    .event{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
        text-align: center;
        .containerEventText{
            width: 40%;
        }
    
    .containerCtaCalendario{
        color: $red-color!important;
    }
    .containerCardEvent{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .cardEvent{
            width: 323px;
            height: 576px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            text-align: start;
            box-sizing: border-box;
            margin: 12px 40px;
            border-radius: 8px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

            .cardEventText{
                display: flex;
                flex-direction: column;
                padding: 32px;
                //border: 1px solid red;
                width: 100%;

                .eventTextTitle{
                    //border: 1px solid blue;
                    margin-bottom: 26px;
                    h3{
                        color: $red-color;
                        font-weight: $font-bold;
                    }
                    span{
                        color: $black-color;
                    }
                }

                .eventTextInformation{
                    display: flex;
                    flex-direction: column;
                    .eventTextLocalization{
                        color: $red-color;
                        font-weight: $font-light;
                        font-size: 0.8em;
                        margin-bottom: 10px;
                    }
                    .eventTextTime{
                        color: $black-color;
                        font-weight: $font-bold;
                        font-size: 1em;
                    }
                }

                .eventTextDate{
                    margin-top: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    .eventDay{
                        color: $red-color;
                        font-size: 2em;
                        font-weight: $font-bold;
                        margin-right: 12px;
                    }
                    .eventMonth{
                        font-size: 1.5em;
                        font-weight: $font-light;
                        color: $black-color;
                    }
                }
            }
        }
    }
}
    }



@media (max-width: 750px) {
    .containerEvent{
        padding-top: 112px;
        width: 100%;
        .event{
            width: 80%;
            .containerEventText{
                width: 100%;
                text-align: start;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
            }

            .containerCardEvent{
                //flex-wrap: wrap;
                
                .cardEvent{
                    width: 423px;
                    height: 675px;
                    margin: 12px 0px;
                .eventFigure {
                    img{
                        width: 423px;
                    }
                }
            }
        }
    }
    }
    
}

@media (max-width: 550px) {
    .containerEvent{
        padding-top: 112px;
        width: 100%;
        .event{
            width: 80%;
            .containerCardEvent{
                width: 100%;
                padding: 0px;
                .cardEvent{
                    width: 100%;
                    //width: 423px;
                    height: 500px;
                    margin: 12px 0px;
                    .eventFigure {
                        width: 100%;
                        overflow: hidden;
                        border-radius: 0px 0px 8px 8px;
                        img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            display: block;
                            border-radius: 0px 0px 8px 8px;
                        }
                    }
                }
            }
        }
        }
    
}