header{
    position: fixed;
    top: 25px;
    z-index: 5;
    width: 100%;
    display: flex;
    //display: none;
    align-items: center;
    justify-content: center;
    //animation: slide-in-bottom-header 6s;

    .containerHeader{
        width: 90%;
        padding: 15px 25px;
        border-radius: 8px;
        max-width: 1200px;
        background: #ffffff8f;
        backdrop-filter: blur(60px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 55px;
                opacity: 0;
            }
            ul{
                display: flex;
                justify-content: space-between;
                font-size: 1.5em;
                li{
                    list-style: none;
                    padding: 0px 20px;
                    a{
                        text-decoration: none;
                        color: #FFF;
                    }
                    .selectedHeader{
                        color: $red-color!important;
                        font-size: $font-bold!important;
                    }
                }
            }
        }
    }
    
}

/*
@keyframes slide-in-bottom-header{
    0%{
        transform:translateY(1000px);
    }
    100%{
        transform:translateY(0);
    }

}
*/